
Droid/obj/Debug/__library_projects__/WeatherTest.stamp

Droid/obj/Debug/__library_projects__/Xamarin.Android.Support.Animated.Vector.Drawable.stamp

Droid/obj/Debug/__library_projects__/Xamarin.Android.Support.Design.stamp

Droid/obj/Debug/__library_projects__/Xamarin.Android.Support.v4.stamp

Droid/obj/Debug/__library_projects__/Xamarin.Android.Support.v7.AppCompat.stamp

Droid/obj/Debug/__library_projects__/Xamarin.Android.Support.v7.CardView.stamp

*.stamp

*.cache

Droid/obj/Debug/res/drawable-hdpi/icon.png

Droid/obj/Debug/res/drawable-xhdpi/icon.png

Droid/obj/Debug/res/drawable-xxhdpi/icon.png

Droid/obj/Debug/res/drawable/icon.png

Droid/obj/Debug/res/layout/tabbar.xml

Droid/obj/Debug/res/layout/toolbar.xml

Droid/obj/Debug/res/values/styles.xml

packages/System.Text.Encoding.4.3.0/dotnet_library_license.txt

*._

*.xml

packages/System.Text.Encoding.4.3.0/ref/netcore50/System.Text.Encoding.dll

packages/System.Text.Encoding.4.3.0/ref/netstandard1.0/System.Text.Encoding.dll

packages/System.Text.Encoding.4.3.0/ref/netstandard1.3/System.Text.Encoding.dll

packages/System.Text.Encoding.4.3.0/System.Text.Encoding.4.3.0.nupkg

packages/System.Text.Encoding.4.3.0/ThirdPartyNotices.txt
